doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // added bootstrap link but it overrides the css from the tutorial...  link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
  body
   .container
    img.logo(src='/images/nodebloglogo.png')
    nav
     ul
      li
       a(href='/') Home
      li
       a(href='/posts/add') Add Post
      li
       a(href='/categories/add') Add Category
    != messages()
    block content
    footer
     p NodeBlog &copy; 2018
